<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="pull-left">
          <p class="lead"><a href="/#top">home</a></p>
        </div>

        <div class="pull-right">
        <p class="lead"><a href="http://feeds.feedburner.com/RecursivityBlog"><img src="/img/rss.png" alt="RSS feed" height="42" width="42"/></a></p>
        </div>
        <br/><br/>
        <div>
        $body$
        </div>
        <br/><br/>
        <p>Older posts in our <a href="/archive">Archive</a></p>
      </div>
    </div>
  </div>
</section>
