
<div class="row">
     
 <div class="span3">
<ul>
      <li class=""><a href="/archive">Blog Archive</a></li>
      <li class=""><a href="http://feeds.feedburner.com/RecursivityBlog">Rss Feed</a></li>
      <li class=""><a href="http://twitter.com/wfaler">Follow on Twitter</a></li>
      <li class=""><a href="http://github.com/wfaler">Follow on GitHub</a></li>
</ul>
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//recursivity.us3.list-manage.com/subscribe/post?u=1be3f267bdb41a2653df27a54&amp;id=859d5aabfc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label for="mce-EMAIL">Subscribe to our posts &amp; exclusive content</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_1be3f267bdb41a2653df27a54_859d5aabfc" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
</div>

<div class="span9">

$body$
</div>
</div>