<!DOCTYPE html>
<html lang="en">
<head>
  <title>$title$ - Recursivity</title>
  <meta charset="utf-8">
  <meta name="author" content="pixelhint.com">
  <meta name="description" content="Minima is a minimal, clean HTML5 multi-purpose template, well-coded & commented code"/>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>

  <header>

    <div class="wrapper">
      <a href="/" class="logo"> <img src="/img/recursivity-logo.png" alt="" title="Minima"/> </a>
      <nav>
        <ul>
        <!--  <li><a href="">Services</a></li> -->
          <li><a href="/about">Our Story</a></li>
       <!--   <li><a href="">Work</a></li> -->
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>
    
  </header><!-- End Header -->

  $body$


 <!-- <section class="recent_work wrapper">
    <h3 class="S_title">Recent Work</h3>

    <div class="work">
      <a href="#" class="work_img">
        <img src="/img/work_image.jpg" alt="" title=""/>
      </a>
      <a href="#" class="work_title">
        Brand Project
        <i></i>
      </a>
    </div>
    <div class="work">
      <a href="#" class="work_img">
        <img src="/img/work_image.jpg" alt="" title=""/>
      </a>
      <a href="#" class="work_title">
        Brand Project 2
        <i></i>
      </a>
    </div>
    <div class="work">
      <a href="#" class="work_img">
        <img src="/img/work_image.jpg" alt="" title=""/>
      </a>
      <a href="#" class="work_title">
        Brand Project 3
        <i></i>
      </a>
    </div>
    <div class="work">
      <a href="#" class="work_img">
        <img src="/img/work_image.jpg" alt="" title=""/>
      </a>
      <a href="#" class="work_title">
        Brand Project 4
        <i></i>
      </a>
    </div>
  </section> --><!-- End recent_work -->







  <section class="social">
      <a href="http://twitter.com/wfaler" target="_blank" class="t"></a>
     <!-- <a href="#" target="_blank" class="g"></a>-->
  </section><!-- End social -->



  <footer>
    <div class="wrapper">
      <div class="f_cols">
        <h3>Location</h3>
        <p>Suite 126, 155 Minories, London EC3N 1AD<span class="phone">+44 (0)20 3286 1935</span></p>  
     <!--   <a href="#" class="map">see it in the map <span class="arrow">&nbsp;&rarr;</span></a>  -->
      </div>  

      <div class="f_cols">
        <h3>Company</h3>
        <ul>
          <li><a href="/about">Our Story</a></li>
         <!-- <li><a href="#">Mission</a></li> -->
          <li><a href="/blog">Blog</a></li>
<!--          <li><a href="#">Careers</a></li> -->
        </ul> 
      </div>  

      <div class="f_cols">
        <h3>Support</h3>
        <ul>
          <li><a href="/contact">Contact Us</a></li>
        </ul> 
      </div>  

      <div class="f_cols">
        <h3>Recursivity</h3>
        <ul>
          <li><a href="http://feeds.feedburner.com/RecursivityBlog">RSS/Atom Feed</a></li>
        </ul>
      </div>  


    </div>
  </footer><!-- End footer -->

  <div id="lightbox"></div>
  <div id="box">
    <a href="" class="close"></a>
    <form method="POST" action="//recursivity.us3.list-manage.com/subscribe/post?u=1be3f267bdb41a2653df27a54&amp;id=859d5aabfc" target="_blank">
      <input type="text" name="EMAIL" id="email" placeholder="Email" autofocus/>
      <input type="submit" id="submit" value="Subscribe Now"/>
    </form>
  </div>
</body>
