  <section class="billboard wrapper">
    <section class="caption">
      <p class="cap_title">Accelerate time to market with the right product</p>
      <p class="cap_desc">Getting to market is not just about building software, it's about building what people want<p>
<!--      <a href="#">Start here <i></i></a>-->
    </section>
  </section><!-- End billboard -->

  <section class="services wrapper">
    <ul>
      <li>
<!--        <img class="s_icons" src="img/s1_icon.png" title="" alt=""/>-->
        <h3>Data &amp; Feedback Driven Product Development</h3>
        <p>We can help you get maximum value for minimum time &amp; effort by taking an incremental, value &amp; feedback driven approach to product development.</p>   
      </li>
      <li>
<!--        <img class="s_icons" src="img/s2_icon.png" title="" alt=""/>-->
        <h3>Bug-free, correct software that just works</h3>
        <p>By using functional programming, disciplined engineering &amp; testing practices, we are able to quickly produce simple, flexible software that is correct by construction.<p>   
      </li>
      <li>
    <!--    <img class="s_icons" src="img/s3_icon.png" title="" alt=""/>-->
    <h3>Lower Operational Costs Through Automation</h3>
        <p>Successful software doesn't end at code - operational costs tend to dwarf initial development costs. We take a holistic approach to automating your product: from continuous deployment, infrastructure to disaster recovery.</p>   
      </li>
    </ul>
  </section><!-- End services -->
    
