  <section class="billboard">
    <section class="caption">
      <p class="cap_title">Minima Clean &amp; Minimal Template</p>
      <p class="cap_desc">excepteur sint occaecat cupidatat non proident</p>
      <a href="#">Start here <i></i></a>
    </section>
  </section><!-- End billboard -->

  <section class="services wrapper">
    <ul>
      <li>
        <img class="s_icons" src="img/s1_icon.png" title="" alt=""/>
        <h3>Duis aute irure</h3>
        <p>Excepteur sint occaecat cupi datat non it proident, sunt in culpa qui officia dese runtorn mollit anim id est laborum.</p>   
      </li>
      <li>
        <img class="s_icons" src="img/s2_icon.png" title="" alt=""/>
        <h3>Duis aute irure</h3>
        <p>Excepteur sint occaecat cupi datat non it proident, sunt in culpa qui officia dese runtorn mollit anim id est laborum.</p>   
      </li>
      <li>
        <img class="s_icons" src="img/s3_icon.png" title="" alt=""/>
        <h3>Duis aute irure</h3>
        <p>Excepteur sint occaecat cupi datat non it proident, sunt in culpa qui officia dese runtorn mollit anim id est laborum.</p>   
      </li>
    </ul>
  </section><!-- End services -->
    